@mixin opa {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInLeft {
    0% {
        transform: translateX(-300px);
    }
    100% {
        transform: translateX(0);
    }
    @include opa
}

@keyframes fadeInRight {
    0% {
        transform: translateX(300px);
    }
    100% {
        transform: translateX(0);
    }
    @include opa
}

@keyframes fadeInDown {
    0% {
        transform: translateY(-300px);
    }
    100% {
        transform: translateY(0);
    }
    @include opa
}