* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@keyframes fadeInLeft {
  0% {
    transform: translateX(-300px);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fadeInRight {
  0% {
    transform: translateX(300px);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fadeInDown {
  0% {
    transform: translateY(-300px);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.accueil {
  width: 100%;
  max-height: 100vh;
  overflow: hidden;
}
.accueil img {
  width: 100%;
  max-height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

#siteHeader {
  position: absolute;
  width: 100%;
  z-index: 99;
}

.mobileNavContainer,
.mobileNav {
  display: none;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 170px;
  background: linear-gradient(180deg, var(--primary-color) 60%, rgba(61, 72, 99, 0.831372549) 100%);
}
.headerContainer .logoSite {
  display: flex;
  align-items: center;
  max-height: 170px;
}
.headerContainer .logoSite .imgLogo {
  max-height: clamp(7.5rem, 6.163rem + 2.789vw, 10.625rem);
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.desktopNav .menu-principal-container ul {
  display: flex;
  gap: clamp(1.25rem, 0.448rem + 1.673vw, 3.125rem);
}
.desktopNav .menu-principal-container ul li {
  list-style: none;
}
.desktopNav .menu-principal-container ul li a {
  text-decoration: none;
  font-size: 15px;
  color: white;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  padding-bottom: 5px;
  transition: all 0.3s ease-in-out;
}
.desktopNav .menu-principal-container ul li a:hover {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}
.desktopNav .menu-principal-container ul li.current-menu-item a {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}

.contactUsNav {
  text-decoration: none;
  border: 1px solid var(--secondary-color);
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
}
.contactUsNav span {
  display: flex;
  align-items: center;
  color: white;
  font-size: 15px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  letter-spacing: 0.5px;
  padding: 15px 20px;
  gap: 10px;
}
.contactUsNav:hover {
  background-color: var(--tertiary-color);
}

@media (max-width: 767px) {
  .headerContainer {
    display: none;
  }
  .mobileNavContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    width: 100%;
  }
  .mobileNavContainer .logoSiteMobile {
    display: flex;
    align-items: center;
    max-height: 170px;
    background-color: rgba(0, 0, 0, 0.596);
    border-radius: 8px;
    margin: 5px;
  }
  .mobileNavContainer .logoSiteMobile .imgLogoMobile {
    max-height: clamp(7.5rem, 6.163rem + 2.789vw, 10.625rem);
    width: auto;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .mobileNavContainer .burgerMenu {
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.596);
    border-radius: 8px;
  }
  .mobileNav {
    display: block;
  }
  .mobileNav .menu-principal-container {
    width: 100%;
  }
  .mobileNav .menu-principal-container #menu-principal-1 {
    list-style: none;
    width: 100%;
  }
  .mobileNav .menu-principal-container #menu-principal-1 li {
    text-align: center;
    background-color: white;
    width: 100%;
    padding: 15px;
    border-bottom: 1px solid rgb(228, 228, 228);
  }
  .mobileNav .menu-principal-container #menu-principal-1 li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #686868;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 600;
  }
  .mobileNav .menu-principal-container #menu-principal-1 li:hover, .mobileNav .menu-principal-container #menu-principal-1 li.current-menu-item {
    background-color: var(--secondary-color);
  }
  .mobileNav .menu-principal-container #menu-principal-1 li:hover a, .mobileNav .menu-principal-container #menu-principal-1 li.current-menu-item a {
    color: white;
  }
  .close {
    display: none;
  }
}
.littleTitle {
  color: #4f80ff;
  font-family: "Poppins", Sans-serif;
  font-size: clamp(1rem, 0.98rem + 0.091vw, 1.125rem);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.9px;
  padding-top: 50px;
}

h2 {
  color: #343f5a;
  font-family: "Poppins", Sans-serif;
  font-size: clamp(1.375rem, 1.109rem + 1.182vw, 3rem);
  font-weight: 500;
  line-height: 1.3em;
  margin: 30px 0;
}

.citation {
  display: flex;
  width: 100%;
  padding: 50px;
  justify-content: center;
}
.citation p {
  font-size: clamp(1.5rem, 1.183rem + 1.409vw, 3.438rem);
  font-weight: 600;
  text-align: center;
  max-width: 1330px;
  line-height: 1.5;
  color: #2d2d2d;
}

.partenaire {
  background-color: rgba(0, 85, 255, 0.1215686275);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.partenaire .partenaireContainer {
  display: grid;
  width: 80%;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  align-items: center;
  padding: clamp(0rem, -0.511rem + 2.273vw, 3.125rem);
}
.partenaire .partenaireContainer .partenaireTexte {
  width: 100%;
}
.partenaire .partenaireContainer .partenaireTexte p {
  font-size: clamp(1.125rem, 1.014rem + 0.491vw, 1.25rem);
  font-weight: 400;
  color: #777777;
  margin-bottom: 0.9rem;
}
.partenaire .partenaireContainer .partenaireTexte .checkIt {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 10px;
  margin: 50px 0;
}
.partenaire .partenaireContainer .partenaireTexte .checkIt li {
  display: flex;
  gap: 10px;
}
.partenaire .partenaireContainer .partenaireTexte .checkIt li i {
  display: flex;
  align-items: center;
  color: var(--secondary-color);
}
.partenaire .partenaireContainer .partenaireTexte .checkIt li p {
  margin-bottom: 0;
}
.partenaire .partenaireContainer img {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.services {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.services .servicesContainer {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.services .servicesContainer .servicesColonne {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1120px;
  justify-content: space-evenly;
  align-items: center;
  gap: 50px;
}

.topServices {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  gap: clamp(1.875rem, -1.497rem + 5.263vw, 3.125rem);
}
.topServices div {
  width: 30%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.topServices div:nth-child(4), .topServices div:nth-child(5) {
  width: 30%;
}
.topServices div .cubeNovaneos {
  width: 35%;
}
.topServices div .serviceContent {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 10px;
  padding: 0;
}
.topServices p {
  color: #777777;
  font-family: "Poppins", Sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.topServices .titleService {
  width: 100%;
  color: #343f5a;
  font-family: "Poppins", Sans-serif;
  font-size: 22px;
  font-weight: 600;
}
.topServices .service1 {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
.topServices .service1 .titleService,
.topServices .service1 p {
  text-align: start;
}
.topServices .service1 .cubeNovaneos {
  opacity: 0;
}
.topServices .service1 .cubeNovaneos.move {
  animation: fadeInLeft 1.5s ease forwards;
}
.topServices .service2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.topServices .service2 .cubeNovaneos {
  opacity: 0;
}
.topServices .service2 .cubeNovaneos.move {
  animation: fadeInDown 1.5s ease forwards;
}
.topServices .service3 {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  gap: 10px;
}
.topServices .service3 .titleService,
.topServices .service3 p {
  text-align: end;
}
.topServices .service3 .cubeNovaneos {
  opacity: 0;
}
.topServices .service3 .cubeNovaneos.move {
  animation: fadeInRight 1.5s ease forwards;
}

.activityWeb {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("../images/map.webp") no-repeat center/cover;
  position: relative;
}
.activityWeb::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 85, 255, 0.1215686275);
}
.activityWeb .activityWebContainer {
  display: flex;
  width: 100%;
  max-width: 1064px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 150px 20px;
}
.activityWeb .activityWebContainer .littleTitle {
  text-align: center;
}
.activityWeb .activityWebContainer h2 {
  text-align: center;
}

.pourcentContainer {
  display: flex;
  width: 100%;
  gap: 20px;
}
.pourcentContainer #pourcentBlock1,
.pourcentContainer #pourcentBlock2,
.pourcentContainer #pourcentBlock3,
.pourcentContainer #pourcentBlock4 {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 20px;
}
.pourcentContainer #pourcentBlock1 #number,
.pourcentContainer #pourcentBlock2 #number,
.pourcentContainer #pourcentBlock3 #number,
.pourcentContainer #pourcentBlock4 #number {
  color: var(--secondary-color);
  font-size: clamp(3.125rem, 1.743rem + 6.143vw, 4.688rem);
  text-align: center;
}
.pourcentContainer #pourcentBlock1 p,
.pourcentContainer #pourcentBlock2 p,
.pourcentContainer #pourcentBlock3 p,
.pourcentContainer #pourcentBlock4 p {
  font-size: 19px;
  line-height: 2.5;
  text-align: center;
}

@media (max-width: 1024px) {
  .topServices {
    flex-direction: column;
    align-items: center;
  }
  .topServices div {
    width: 100%;
    margin-bottom: 0;
  }
  .topServices div:nth-child(4), .topServices div:nth-child(5) {
    width: 100%;
  }
  .topServices div .cubeNovaneos {
    width: 20%;
  }
  .topServices div p {
    font-size: clamp(1rem, 0.864rem + 0.602vw, 1.25rem);
  }
  .topServices .service1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .topServices .service1 .titleService,
  .topServices .service1 p {
    text-align: center;
  }
  .topServices .service2 .cubeNovaneos .move {
    animation: fadeInRight 1.5s ease forwards;
  }
  .topServices .service3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .topServices .service3 .titleService,
  .topServices .service3 p {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .partenaire .partenaireContainer {
    display: block;
  }
  .activityWeb .activityWebContainer {
    padding: 50px 10px;
  }
  .pourcentContainer {
    flex-direction: column;
  }
  .pourcentContainer #pourcentBlock1 p,
  .pourcentContainer #pourcentBlock2 p,
  .pourcentContainer #pourcentBlock3 p,
  .pourcentContainer #pourcentBlock4 p {
    line-height: normal;
  }
}
:root {
  --primary-color: #343f5a;
  --secondary-color: #4f80ff;
  --tertiary-color: #0693e3;
}

.hiddenNow {
  display: none;
}/*# sourceMappingURL=theme.css.map */